
@font-face{
    font-family: 'fuente cool';
    src: url(../fonts/Buckerley.ttf);
}
body{
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;  
    background-image: url(img/bg.png);
    background-color: #0E0D0D;
    
}


*{
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 9px;
}
.formulario{
    background: #0E0D0D;
    margin-top: 150px;
    padding: 30px;
     
}
h1{
    text-align: center;
    color: #fff;;
    font-size: 48px;
    font-weight: bold;
}
.input-contendor{
    margin-bottom: 15px;
    border: 1px solid #8F8F8F;
    
    
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border: none;
}


.control{
    margin-top: 20px;
    border: none;
    width: 100%;
    color: #fff;
    font-size: 20px;
    background: #CF0404;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;

}
p{
    text-align: center;
    color: #8F8F8F;
    font-size: 18px;
}
.link{
    text-decoration: none;
    color: #fff;
}


/*
@media (max-width: 375.98px) {
    .formulario{
       margin: auto;
       width: 200px;
       mar
        
    }
    .control{
        font-size: 0.8rem;
    }
    
    #logo{
        width: 80px;
        padding-bottom: 0px;
    }
    #texto-prueba{
        display: none;
    }
}
*/


