
@font-face{
    font-family: 'fuente cool';
    src: url(../fonts/Buckerley.ttf);
}
body{
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;  
    background-color: #080707;
}
#texto-prueba{
    font-size: 1.5rem;
}


#logo{
    padding: 7px;
    width: 300px;

} 
#contenido{
    background-color: rgba(0, 0, 0, 0.664);
    height: 150vh;
    
}

#formulario{
    background: #08070781 ;
    color: #fff;
    width: 330px;
    height: 550px;
    border-radius: 5px;
    padding: 30px 60px;

    margin-left: auto;
    margin-right: auto;
}
#formulario:hover {
    background-color: #080707
   

}
#formulario h1{
    font-weight: 700;
    font-size: 38px;
}
.control{
    width: 218%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1rem;
    border-radius: 6px;
    margin-bottom: 13px;
    border-width: 0;
    
    
}
input{
    width: 100%;
    padding: 15px;
}
.caja-texto{
    background-color:#ffff;
}
.boton{
    background-color: #e50916;
    font-weight: bold;
    color: #fff;
    margin-top: 30px;
    cursor: pointer;
}
.boton:hover {
    background-color: #a80a14;
    text-decoration: underline;
}



@media (max-width: 375.98px) {
    #formulario{
        width: auto;
        height: auto;
        border-radius: 0;
        padding: 20px 18px;
        margin-top: 10px;
        
    }
    .control{
        font-size: 0.8rem;
    }
    
    #logo{
        width: 80px;
        padding-bottom: 0px;
    }
    #texto-prueba{
        display: none;
    }

  
}