body{

    background-color: #F4F4F4;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    

}



.navbar-brand{
    background-image: url(/img/favicon.ico);
    background-color: #fff;
    
    }
    /* estilos es del buscador */
    .me-2{
        margin-right: 3.5rem!important;
        /*margin-left: 2rem!important;*/
        border-radius: 16px;
        border-color: black;
        border-width: 2px;
        width: 100%;
        padding: 5px 33px;
    }
    /* los card de los menus*/
    .tarjeta{
        width: 250px;
        
    }
    /* boostra Grip*/
    .col-6{
        width: 42%;
    
    
    }
    /*menu estilos de la posicion*/
    .row{
        justify-content: space-around;
        align-items: center;
        
    }
    /* cada card son menus que inician con la clase .menu a .menu-4*/
    .menu{
        width: 132px;
        height: 132px;
        box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2),  0 6px 20px 0 rgb(0,0,0,0.19);
        /*background-color: #ebca0f;*/
        background: linear-gradient(to bottom, #f3a27d  0%, #f8c671 100%);
        margin-top: 40px;
        border-radius: 12px;
        
    }
    .menu-2{
        width: 132px;
        height: 132px;
        box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2),  0 6px 20px 0 rgb(0,0,0,0.19);
        background: linear-gradient(to bottom, #6BCAFA  0%, #43DCE1 100%);
        margin-top: 40px;
        border-radius: 12px;

    }
    .menu-3{
        width: 132px;
        height: 132px;
        box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2),  0 6px 20px 0 rgb(0,0,0,0.19);
        background: linear-gradient(to bottom, #be8aeb  0%, #a663ca  100%);
        margin-top: 40px;
        border-radius: 12px;

    }
    .menu-4{
        width: 132px;
        height: 132px;
        box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2),  0 6px 20px 0 rgb(0,0,0,0.19);/*esto es para las sombras de los cards*/
        background: linear-gradient(to bottom, #64eb7d  0%, #8DF9B9 100%);/*esto son los colores dobles para tener un conntraste*/
        margin-top: 40px;
        border-radius: 12px;

    }
    /* este estilos es cuando se da clic da una transparecias*/
    .menu:hover{
        background: linear-gradient(to bottom, #fbaa84af  0%, #f7c368a6 100%);
    }
    .menu-2:hover{
        background: linear-gradient(to bottom, #6bcafaad  0%, #43dce1a4 100%);
    }
    .menu-3:hover{
        background: linear-gradient(to bottom, #be8aeb80  0%, #a663ca83  100%);
    }
    .menu-4:hover{
        background: linear-gradient(to bottom, #64eb7d81  0%, #8df9b880 100%);
    }

    


    .logo{
        width: 76px;
        height: 60px;
        margin-left: 125px;
        
        
    }
    
    .card-title{
        font-size: 20px;
        margin: 6px;
        font-weight:inherit;

    }
    .notificacion{
        font-size: 2.5rem;
        margin-left: 85px;
        flex: 1;

    }
    .perfil{
        font-size: 40px;
        margin-left: 7px;
        margin-bottom: 4px;

    }
    .card{
        width: 335px;
        height: 246px;
        background: #fff;
        box-shadow:  0 4px 8px 0 rgb(0,0,0,0.2),  0 6px 20px 0 rgb(0,0,0,0.19);

        padding: 12px;
        display: flex;
        border-radius: 8px;
        border-color: black;
    }
    .card .card-img{
        width: 100%;
    }
    .card .card-img img{
        width: 100%;
    }
    .estrella{
        font-size: 24px;
       /* color:#FCFF68; color: #FD7E14;*/
       color: #FD7E14;
        margin-top: -37px;
        margin-left: 142px;
    }
    .card-text{
    margin: 5px;
    padding-top: 3px;
    }
    #carrito{
        display: none;
    }
    



    #detalle-comida{
        display: none;
    
    }


    #detalle-supermercado{ 
        display: none;
      
    }

    .colonia-img img{
        width: 291px;
        height: 155px;
    }
    .colonia-img{
        height: 160px;
    }

    .card .walmart-img img{
        width: 100%;
        height: 159px;

  }
    #detalle-medicamentos{
        display: none;

    }

    #detalle-tecnologia{
        display: none;  
    }

    